.profileimage img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: block;
  margin-bottom: 0;
}

.user-search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 400px; /* width of each card */
  gap: 1rem;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  height: 70vh;
}
