@if (issearch) {
<div class="container py-4 participant-container">
  <!-- Filters Section -->
  <div class="row g-4 mb-4">
    <!-- Skills -->
    <div class="col-md-6">
      <label class="form-label fw-bold">Select Skills</label>
      <p-multiSelect
        [options]="skills"
        optionLabel="skillName"
        optionValue="skillName"
        [(ngModel)]="selectedSkills"
        [filter]="true"
        filterBy="skillName"
        placeholder="Select Skills"
        display="chip"
        class="w-100"
        (onChange)="onSkillChange()"
      ></p-multiSelect>
    </div>

    <!-- Users -->
    <div class="col-md-6">
      <label class="form-label fw-bold">Select User</label>
      <p-select
        [options]="schedulers"
        optionLabel="userName"
        optionValue="id"
        [filter]="true"
        filterBy="userName"
        placeholder="Select User"
        class="w-100"
      ></p-select>
    </div>
  </div>

  <div class="user-search">
    <div class="profile-card card shadow-sm" *ngFor="let s of schedulers">
      <div class="d-flex justify-content-center mt-2">
        <img src="assets/profilepic.png" class="profile-image" />
      </div>

      <div class="card-body text-center">
        <h4 class="card-title mb-1">{{ s.fullName }}</h4>
        <p class="text-muted mb-3">{{ s.roleName }}</p>

        <p class="card-text small">
          {{ s.skillList }}
        </p>

        <p class="fw-bold">⭐ Rating: {{ s.rating }}</p>

        <button class="btn btn-primary w-100" (click)="selectedId(s.id)">See Profile</button>
      </div>
    </div>
  </div>
</div>
} @else {<app-participant-calendar
  [SchedulerId]="selectedSchedulerId"
  [SwitchToSearch]="swithtosearch.bind(this)"
/>}
