@import '../node_modules/angular-calendar/css/angular-calendar.css';

/* Reset all default margin, padding, and box-sizing */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: reset default list styles, links, images */
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.app-loading-active {
  overflow: hidden !important;
  touch-action: none;
  height: 100vh;
}

@media print {
  body * {
    visibility: hidden;
  }

  #jobDetailsSection,
  #jobDetailsSection * {
    visibility: visible;
  }

  #jobDetailsSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
