<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0">Your Referrals</h5>
      <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#referralModal">
        Add Referral
      </button>
    </div>

    <div class="card-body">
      <!-- <h6 class="mb-3">Jobs Applied</h6> -->

      <!-- Referral Table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let referral of referrals">
            <td>{{ referral.firstName }}</td>
            <td>{{ referral.lastName }}</td>
            <td>{{ referral.email }}</td>
            <td>{{ referral.phone }}</td>
            <td>{{ referral.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
 <div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0"> Referral Timeline -  ( IGNORE THIS FEATURE)  </h5>
      <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#referralModal">
        Referral Timeline -  ( IGNORE THIS FEATURE)  
      </button>
    </div>

    <div class="card-body">
      <!-- <h6 class="mb-3">Jobs Applied</h6> -->
 
    </div>
  </div>
</div>
 


<!-- Modal -->
<div class="modal fade" id="referralModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Referral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="referralForm" (ngSubmit)="submit()">
          <div class="mb-3">
            <label class="form-label">First Name *</label>
            <input type="text" formControlName="firstName" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Last Name *</label>
            <input type="text" formControlName="lastName" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Email *</label>
            <input type="email" formControlName="email" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" formControlName="phone" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Country/Region *</label>
            <select formControlName="country" class="form-select">
              <option value="">Select</option>
              <option>India</option>
              <option>USA</option>
              <option>UK</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Resume</label>
            <input type="file" class="form-control" (change)="onFileChange($event)" />
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-primary me-2"
              [disabled]="referralForm.invalid"
              data-bs-dismiss="modal"
            >
              Send
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
