<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0">My Saved Searches</h5>
    </div>

    <div class="card-body">
      <p-table
        [value]="savedSearches"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [responsiveLayout]="'scroll'"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
        class="p-datatable-striped"
      >
        <!-- Table Header -->
        <ng-template pTemplate="header">
          <tr>
            <th class="searchname-custom">Search Name</th>
            <th>Key Word</th>
            <th>Req ID</th>
            <th>Locations</th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-search let-rowIndex="rowIndex">
          <tr>
            <!-- Inline Editable Search Name -->
            <td>
              <input
                *ngIf="editIndex === rowIndex"
                [(ngModel)]="search.searchName"
                pInputText
                class="w-100"
              />
              <span *ngIf="editIndex !== rowIndex">{{ search.searchName }}</span>
            </td>

            <td>{{ search.keyword }}</td>
            <td>{{ search.reqId }}</td>
            <td>{{ search.location }}</td>

            <td>
              <!-- Inline Editing Actions -->
              <ng-container *ngIf="editIndex === rowIndex; else normalActions">
                <a href="javascript:void(0)" class="job-title" (click)="saveEdit(rowIndex)">Save</a>
                |
                <a href="javascript:void(0)" class="job-title" (click)="exitEdit(rowIndex)"
                  >Cancel</a
                >
              </ng-container>

              <!-- Normal Actions -->
              <ng-template #normalActions>
                <a
                  href="javascript:void(0)"
                  class="job-title"
                  (click)="viewsavedsearch(search.id, search.search)"
                >
                  View
                </a>
                |
                <a href="javascript:void(0)" class="job-title" (click)="startEdit(rowIndex)"
                  >Edit</a
                >
                |
                <a href="javascript:void(0)" class="job-title" (click)="showdeletemodal(search.id)">
                  Delete
                </a>
              </ng-template>
            </td>
          </tr>
        </ng-template>

        <!-- Empty State -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5" class="text-center">Displaying 0 records</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div
  class="modal fade custom-high-zindex-modal"
  id="savesearchmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Label">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Do you want to delete ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteSavedSearch()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
