<!-- <div class="bg-white right"><i class="bi bi-arrow-left-circle bg-white"></i></div> -->
<div class="bg-light d-flex justify-content-end pe-3">
  <i class="bi bi-arrow-left-circle fs-4 text-primary"></i>
</div>

<div class="bg-light vh-100">
  <div class="underline-tabs mb-5">
    <ul class="nav nav-tabs" id="underlineTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="home-tab2"
          data-bs-toggle="tab"
          data-bs-target="#jobsearch"
          type="button"
          role="tab"
        >
          Job Search
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="profile-tab2"
          data-bs-toggle="tab"
          data-bs-target="#jobapplications"
          type="button"
          role="tab"
        >
          Job Applications
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab2"
          data-bs-toggle="tab"
          data-bs-target="#savedjobs"
          type="button"
          role="tab"
        >
          Saved Jobs
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab2"
          data-bs-toggle="tab"
          data-bs-target="#savedsearchesalerts"
          type="button"
          role="tab"
        >
          Saved Searches/Alerts
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab2"
          data-bs-toggle="tab"
          data-bs-target="#mycandidateprofile"
          type="button"
          role="tab"
        >
          My Candidate Profile
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab2"
          data-bs-toggle="tab"
          data-bs-target="#savedapplications"
          type="button"
          role="tab"
        >
          Save Applications
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="contact-tab2"
          data-bs-toggle="tab"
          data-bs-target="#contact2"
          type="button"
          role="tab"
        >
          Referral Tracking
        </button>
      </li>
    </ul>
    <div class="tab-content" id="underlineTabsContent">
      <div class="tab-pane fade show active" id="jobsearch" role="tabpanel">
        <!-- <h4>jobsearch Home Content</h4>
        <p>This is the home tab content with underline style.</p> -->
        <app-jobpost></app-jobpost>
      </div>
      <div class="tab-pane fade" id="jobapplications" role="tabpanel">
        <!-- <h4>jobapplications Profile Content</h4>
        <p>This is the profile tab content with underline style.</p> -->
        <app-jobapplication></app-jobapplication>
      </div>
      <div class="tab-pane fade" id="savedjobs" role="tabpanel">
        <!-- <h4>savedjobs</h4>
        <p>This is the contact tab content with underline style.</p> -->
        <app-saved-job></app-saved-job>
      </div>
      <div class="tab-pane fade" id="savedsearchesalerts" role="tabpanel">
        <h4>savedsearchesalerts Contact Content</h4>
        <p>This is the contact tab content with underline style.</p>
      </div>
      <div class="tab-pane fade" id="mycandidateprofile" role="tabpanel">
        <h4>mycandidateprofile Contact Content</h4>
        <p>This is the contact tab content with underline style.</p>
      </div>
      <div class="tab-pane fade" id="savedapplications" role="tabpanel">
        <app-saved-application></app-saved-application>
      </div>
      <!-- <div class="tab-pane fade" id="contact2" role="tabpanel">
      <h4>Contact Content</h4>
      <p>This is the contact tab content with underline style.</p>
    </div>
    <div class="tab-pane fade" id="contact2" role="tabpanel">
      <h4>Contact Content</h4>
      <p>This is the contact tab content with underline style.</p>
    </div>
    <div class="tab-pane fade" id="contact2" role="tabpanel">
      <h4>Contact Content</h4>
      <p>This is the contact tab content with underline style.</p>
    </div> -->
    </div>
  </div>
</div>
