// body {
//   background: url("https://www.transparenttextures.com/patterns/connected.png"),
//               linear-gradient(to bottom right, #eaf6fb, #cde6f5);
//   background-size: cover;
//   font-family: Arial, sans-serif;
// }

.info-card {
  border: 1px solid #0a7ea4;
  //   border-radius: 6px;
//   background: rgba(255, 255, 255, 0.9);//White
  padding: 20px;
  //   width: 280px;
  //   margin: 30px auto;
  min-height: 500px;
}

.info-card h6 {
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.profile-pic {
  text-align: center;
  margin-bottom: 15px;
}

.profile-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f1f1f1;
}

.profile-pic p {
  margin: 8px 0 0;
  font-weight: 600;
}

.profile-pic small {
  color: #666;
}

.info-item {
  margin-bottom: 8px;
}

.info-item strong {
  display: block;
  font-size: 13px;
  color: #444;
}

.info-item span {
  font-size: 13px;
  color: #000;
}
