
<div class="info-card">
  <h6>Basic Information</h6>

  <!-- Profile Picture -->
  <div class="profile-pic">
    <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="Profile"  class="m-auto"/>
    <p>{{userDetails.fullName}} ({{userDetails.employeeCode}})</p>
    <small>{{userDetails.mobileNo}}</small>
  </div>

  <!-- Details -->
  <div class="info-item">
    <strong>Date of Joining</strong>
    <span>{{ userDetails.doj | date:'dd-MM-yyyy' }}</span>
  </div>

  <div class="info-item">
    <strong>Designation</strong>
    <span>{{userDetails.roleName}}</span>
  </div>

  <div class="info-item">
    <strong>Grade</strong>
    <span>{{userDetails.gradeValue}}</span>
  </div>

  <div class="info-item">
    <strong>Business Unit</strong>
    <span>—</span>
  </div>

  <div class="info-item">
    <strong>Department</strong>
    <span>{{userDetails.departmentName}}</span>
  </div>

  <div class="info-item">
    <strong>Location</strong>
    <span>{{userDetails.locationName}}</span>
  </div>

  <div class="info-item">
    <strong>Reporting Manager</strong>
    <span>{{userDetails.reportingManagerName}} ({{userDetails.reportingManagerEmpCode}})</span>
  </div>

  <div class="info-item">
    <strong>Functional Reporting To</strong>
    <span>{{userDetails.functionalReportingManagerName}} ({{userDetails.functionalReportingManagerEmpCode}})</span>
  </div>

  <div class="info-item">
    <strong>Official Email</strong>
    <span>{{userDetails.email}}</span>
  </div>
</div>
