<div class="tabs-header mt-4">

<div class="custom-tabs">
    <a (click)="setActiveTab('personal-info')" [class.active]="activeTab === 'personal-info'"
      >Draft</a
    >

    <a (click)="setActiveTab('pending')" [class.active]="activeTab === 'pending'"
      >Pending</a
    >

    <a (click)="setActiveTab('send-back')" [class.active]="activeTab === 'send-back'"
      >Send Back</a
    >

    <a (click)="setActiveTab('my-approvals')" [class.active]="activeTab === 'my-approvals'"
      >My Approvals</a
    >

    <a (click)="setActiveTab('completed')" [class.active]="activeTab === 'completed'"
      >Completed</a
    >
    </div>
    <!-- Button on right -->
  <button class="generate-btn">
    <span class="icon-circle">+</span>
    Generate ERP Code
  </button>
  
  </div>

<div class="p-3 shadow-sm">
  <table class="table table-hover text-center">
    <thead class="table-light">
      <tr>
        <th>S.No.</th>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Claim Code</th>
        <th>Claim Date</th>
        <th>No. of Bills</th>
        <th>Requested Amount</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of reimbursements; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ claim.employeeCode }}</td>
        <td>{{ claim.employeeName }}</td>
        <td>{{ claim.claimCode }}</td>
        <td>{{ claim.date }}</td>
        <td>{{ claim.noOfBills }}</td>
        <td>{{ claim.amount }}</td>
        <td>{{ claim.status }}</td>
        <td>
            {{claim.action}}
        </td>
      </tr>
      <tr *ngIf="reimbursements.length === 0">
        <td colspan="9" class="text-muted">No Data Found</td>
      </tr>
    </tbody>
  </table>
</div>
