:host {
  display: block;
  width: 100%;
  min-height: 100vh; /* take full screen height */
  background: white; /* force white only for this component */
}

.card {
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

button {
  min-width: 100px;
}
.custom-tabs{
  margin: 10px auto 0px 0px;
  padding-left: 0.75%;
 
}

.custom-tabs a {
  padding: 10px 25px;
  text-decoration: none;
  color: #0a7ea4;
  font-weight: 500;
  border: 1px solid #0a7ea4;
  background: #fff;
  transition: all 0.3s ease;
}

.custom-tabs a:first-child {
  border-radius: 30px 0 0 30px;
}

.custom-tabs a:last-child {
  border-radius: 0 30px 30px 0;
}

.custom-tabs a.active {
  background: #0a7ea4;
  color: #fff;
}

.custom-tabs a:not(.active):hover {
  background: #e6f7fb;
}

.tabs-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes button to the right */
  margin: 10px 0 20px 0; /* optional spacing */
}

.generate-btn {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  transition: background 0.3s;
}