.userprojectroleassociation-container {
  background-color: #f8f9fa;
}

.w-custom {
  width: 18%;
}

.custom-autocomplete ::ng-deep .p-inputtext {
  height: 35px;
  line-height: 40px;
  font-size: 14px;
}

.custom-button {
  height: 35px;
}
