<div class="top-section">
  <div class="custom-tabs">
    <a (click)="setActiveTab('personal-info')" [class.active]="activeTab === 'personal-info'"
      >Personal Information</a
    >

    <a (click)="setActiveTab('basic-details')" [class.active]="activeTab === 'basic-details'"
      >Basic Details</a
    >
  </div>

  <div class="info-wrapper">
    <div class="left-section">
      <app-basic-information></app-basic-information>
    </div>

    <div class="right-section">
      <app-personal *ngIf="activeTab === 'personal-info'"> </app-personal>

      <app-basic-details *ngIf="activeTab === 'basic-details'"></app-basic-details>
    </div>
  </div>
</div>
