<!-- Login Modal -->
<div
  class="modal fade"
  id="loginmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 w-100 text-center" id="loginmodalLabel">Attendance Sign In</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-center">would you like to SignIn Attendance?</p>
        <table class="table table-custom">
          <tbody>
            <tr>
              <td>Date</td>
              <td>:</td>
              <td>{{ logintimedetails.date }}</td>
            </tr>
            <tr>
              <td>Shift Start Time</td>
              <td>:</td>
              <td>{{ logintimedetails.shiftStartTime }}</td>
            </tr>
            <tr>
              <td>Login Time</td>
              <td>:</td>
              <td>{{ logintimedetails.loginTime }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-custom" (click)="setLoginTime()">
          OK
        </button>
        <button type="button" class="btn btn-danger btn-custom" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Main Layout -->
<div class="container">
  <div>
    <div class="main-card">
      <div class="underline-tabs mb-5">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs" id="underlineTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="home-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#home2"
                  type="button"
                  role="tab"
                >
                  MD Address
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="profile-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#profile2"
                  type="button"
                  role="tab"
                >
                  Onward Tech Updates
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="contact-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#contact2"
                  type="button"
                  role="tab"
                >
                  Reward & Recognition
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="contact-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#marketing"
                  type="button"
                  role="tab"
                >
                  Marketing
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="contact-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#life"
                  type="button"
                  role="tab"
                >
                  Life &#64;Onward Tech
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="contact-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#employeeEng"
                  type="button"
                  role="tab"
                >
                  Employee Engagement
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="contact-tab2"
                  data-bs-toggle="tab"
                  data-bs-target="#aboutme"
                  type="button"
                  role="tab"
                >
                  About Me!
                </button>
              </li>
            </ul>
          </div>
          <ul class="list-group list-group-flush">
            <div class="tab-content" id="underlineTabsContent">
              <div class="tab-pane fade show active" id="home2" role="tabpanel">
                <h4>Home Content</h4>
                <p>This is the home tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="profile2" role="tabpanel">
                <h4>Profile Content</h4>
                <p>This is the profile tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="contact2" role="tabpanel">
                <h4>Contact Content</h4>
                <p>This is the contact tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="marketing" role="tabpanel">
                <h4>marketingmarketingmarketing Content</h4>
                <p>This is the contact tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="life" role="tabpanel">
                <h4>Life Life Life Life Content</h4>
                <p>This is the contact tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="employeeEng" role="tabpanel">
                <h4>employeeEng Content</h4>
                <p>This is the contact tab content with underline style.</p>
              </div>
              <div class="tab-pane fade" id="aboutme" role="tabpanel">
                <h4>aboutme Content</h4>
                <p>This is the contact tab content with underline style.</p>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>

    <!-- Holidays and Training -->
    <div class="sub-sections">
      <!-- Holidays -->
      <div class="card">
        <div class="card-header">My Holidays</div>
        <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">  -->
        <div class="table-responsive" style="max-height: 320px">
          <table class="table table-sm table-striped table-hover mb-0">
            <thead class="table-warning1" style="position: sticky; top: 0; z-index: 1">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Day</th>
                <th scope="col">Location</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let holiday of holidaylist">
                <td>{{ holiday.id }}</td>
                <td>{{ holiday.holidayDate | date : 'dd-MMM-yyyy' }}</td>
                <td>{{ holiday.day }}</td>
                <td>{{ holiday.location }}</td>
                <td>{{ holiday.holidayName }}</td>
              </tr>
              <!-- add more rows -->
            </tbody>
          </table>
        </div>
        <!-- </li> 
          </ul> -->
      </div>

      <!-- Training -->

      <div class="card">
        <div class="card-header">Training</div>
        <div class="table-responsive" style="max-height: 320px">
          <table class="table table-sm table-striped table-hover mb-0">
            <thead class="table-warning1" style="position: sticky; top: 0; z-index: 1">
              <tr>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of trainingDetails">
                <td>{{ item.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile-card">
      <!-- Header -->
      <div class="profile-header">
        <span>👤 About Me!</span>
      </div>

      <!-- Profile Section -->
      <div class="profile-body">
        <!-- Left: Avatar -->
        <img src="../../assets/profile.jpg" alt="User Avatar" />

        <!-- Right: User Details -->
        <div class="profile-details">
          <h4>Gedam Nagesh (13339)</h4>
          <p>Sr. Software Engineer</p>
          <p>RM - Mookambiga P V</p>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="menu">
      <a href="#">My Approvals</a>
      <a href="myworkspace">My Workspace</a>
      <a href="#">Policies</a>
      <a href="#">Guidelines / Procedures</a>
      <a href="#">Formats / Templates</a>
      <a href="dashboard/leavemanagement">Leave Management System</a>
      <a href="#">Organization Chart</a>
      <a href="dashboard/career">Career</a>
      <a href="#">Reports</a>
    </div>
  </div>
</div>
