<div class="d-flex flex-column">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <!-- Legends -->
    <table class="ms-2">
      <tbody>
        <tr>
          <td style="width: 90px"><span class="dot bg-primary"></span> Leave</td>
          <td style="width: 120px"><span class="dot bg-warning"></span> Holidays</td>
          <td><span class="dot bg-danger"></span> Absent</td>
        </tr>
        <tr>
          <td><span class="dot bg-success"></span> Present</td>
          <td><span class="dot bg-secondary"></span> Weekly Off</td>
          <td><span class="dot bg-info"></span> Multiple Events</td>
        </tr>
      </tbody>
    </table>

    <!-- Show Time -->
    <div class="d-flex align-items-center">
      <span class="me-2">show time:</span>
      <input type="checkbox" class="form-check-input" [(ngModel)]="showTime" />
    </div>

    <!-- Day Picker -->
    <div class="d-flex justify-content-center align-items-center daypicker-custom">
      <div class="btn-group shadow-sm rounded-pill overflow-hidden" role="group">
        <!-- Previous -->
        <button class="btn btn-light px-3" (click)="previousMonth()">&lt;</button>

        <!-- Month-Year -->
        <span class="btn bg-white fw-bold px-4" style="min-width: 160px">
          {{ viewDate | calendarDate : 'monthViewTitle' : 'en' }}
        </span>

        <!-- Next -->
        <button class="btn btn-light px-3" (click)="nextMonth()">&gt;</button>
      </div>

      <!-- Refresh -->
      <button class="btn btn-light rounded-circle shadow-sm ms-2" (click)="refreshMonth()">
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </div>
  </div>

  <!-- CALENDAR -->
  <ng-template #customCellTemplate let-day="day">
    <div
      class="custom-day-cell"
      (contextmenu)="onRightClick($event, day)"
      [ngClass]="{ 'outside-month': !day.inMonth }"
    >
      <div class="cal-cell-top">
        {{ day.date | date : 'd' }}
      </div>
      <div class="cal-cell-center" *ngIf="showTime">
        {{ getLoginTime(day.date) || '' }} {{ getLoginTime(day.date) ? '-' : '' }}
        {{ getLogoutTime(day.date) || '' }}
      </div>
      <div class="event-dot-container">
        <span
          *ngFor="let event of day.events"
          class="event-dot"
          [ngStyle]="{ 'background-color': event.color?.primary }"
        ></span>
      </div>
    </div>
  </ng-template>
  <div class="container-fluid p-0">
    <div class="calendar-container">
      <mwl-calendar-month-view
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [cellTemplate]="customCellTemplate"
      ></mwl-calendar-month-view>
    </div>
  </div>

  <!-- rightclick popup -->
  <div
    class="custom-context-menu context-style"
    *ngIf="showContextMenu"
    [ngStyle]="{ top: menuY + 'px', left: menuX + 'px' }"
    (click)="$event.stopPropagation()"
  >
    <div class="position-relative">
      <div class="text-center">{{ rightClickDay | date : 'fullDate' }}</div>
      <button
        (click)="showContextMenu = false"
        class="position-absolute end-0 top-0 btn-transparent"
      >
        X
      </button>
    </div>
    <div style="color: blue">Apply Leave or Regularization for above date?</div>
    <div>
      <div class="dropdown">
        <button class="btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
          -select-
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="showleaverequest()">Leave Request</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showattendanceregularization()"
              >Attendance Regularization</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Leave Request Modal -->
  <div
    class="modal fade"
    id="leaverequestmodal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="loginmodalLabel">Leave Request</h1>
          <button type="button" class="btn-close" (click)="cancelLeaveRequest()"></button>
        </div>
        <form [formGroup]="leaveRequestForm" id="leaveForm" (ngSubmit)="submitLeaveRequestForm()">
          <div class="modal-body modal-body-custom">
            <!-- Employee Name -->
            <div class="mb-3">
              <label class="form-label required">Employee Name</label>
              <input
                class="form-control-plaintext ps-1"
                formControlName="employeename"
                [readonly]="true"
              />
            </div>

            <!-- Leave Type -->
            <div class="mb-3">
              <label class="form-label required">Leave Type</label>
              <select class="form-select" formControlName="leavetype">
                <option value="" disabled>Select Leave Type</option>
                @for (type of leavetypes; track $index) {
                <option [value]="type.id">
                  {{ type.leaveTypeName }}({{ type.remainingDays }})
                </option>
                }
              </select>
              <div *ngIf="isInvalidLeaveRequest('leavetype')" class="text-danger small">
                Leave Type is required
              </div>
            </div>

            <div class="d-flex gap-3">
              <div class="d-flex flex-column flex-grow-1">
                <!-- Start Date -->
                <div class="mb-3">
                  <label class="form-label required">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="startDate"
                    [min]="minDate"
                    (change)="
                      leaveRequestForm.get('dayPeriod')?.value === 'half' ? setendDate() : ''
                    "
                  />
                  <div *ngIf="isInvalidLeaveRequest('startDate')" class="text-danger small">
                    Start Date is required
                  </div>
                </div>
                <!-- End Date -->
                <div class="mb-3">
                  <label class="form-label required">End Date</label>
                  <input
                    type="date"
                    class="form-control {{
                      leaveRequestForm.get('dayPeriod')?.value === 'half'
                        ? 'bg-secondary-subtle'
                        : ''
                    }}"
                    formControlName="endDate"
                    [min]="minDate"
                    [readOnly]="leaveRequestForm.get('dayPeriod')?.value === 'half'"
                  />
                  <div *ngIf="isInvalidLeaveRequest('endDate')" class="text-danger small">
                    End Date is required
                  </div>
                </div>
              </div>

              <!-- Day Period -->
              <div class="mb-3 flex-grow-1">
                <label class="form-label required">Day Period</label>
                <select
                  class="form-select"
                  formControlName="dayPeriod"
                  (change)="halfdayhandler($event)"
                >
                  <option value="full" selected>Full Day</option>
                  <option value="half">Half Day</option>
                </select>
                <div *ngIf="isInvalidLeaveRequest('dayPeriod')" class="text-danger small">
                  Day Period is required
                </div>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label class="form-label required">Phone Number</label>
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="Enter Phone Number"
              />
              <div *ngIf="isInvalidLeaveRequest('phone')" class="text-danger small">
                phone no is required
              </div>
            </div>

            <!-- Employees to be notified -->
            <div>
              <label class="form-label required">Employee to be notified</label> <br />
              <p-autoComplete
                id="RequesitionName"
                class="custom-autocomplete"
                formControlName="notify"
                [suggestions]="usersuggestions"
                (completeMethod)="searchuser($event)"
                optionLabel="userName"
                placeholder="Enter UserName"
                [forceSelection]="true"
              ></p-autoComplete>
              <div *ngIf="isInvalidLeaveRequest('notify')" class="text-danger small">
                Employee is required
              </div>
            </div>

            <!-- Reason -->
            <div class="mb-1">
              <label class="form-label required">Reason</label>
              <textarea
                class="form-control"
                rows="3"
                placeholder="Enter Reason"
                formControlName="reason"
                maxlength="250"
              ></textarea>
            </div>
            <div class="char-count">
              {{ leaveRequestForm.get('reason')?.value?.length || 0 }} / 250
            </div>
            <div *ngIf="isInvalidLeaveRequest('reason')" class="text-danger small">
              Reason is required
            </div>

            <!-- Drag & Drop File Upload -->
            <div class="mb-3 d-flex flex-column">
              <div class="mb-2 text-muted small">
                Recommended file upload size <strong>1mb</strong>.
              </div>
              <input
                type="file"
                id="bills"
                (change)="onFileSelected($event)"
                class="form-control d-none"
                multiple
                #fileInput
              />

              <div
                class="btn btn-drag-drop d-flex justify-content-center align-items-center"
                (click)="fileInput.click()"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event)"
              >
                Select or Drop File Here
              </div>

              <ul class="list-group mt-3" *ngIf="selectedFile !== null">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ selectedFile.name }}
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeFile()">
                    <i class="bi bi-trash"></i>
                  </button>
                </li>
              </ul>
              @if(fileError !== null) {
              <div class="text-danger small">{{ fileError }}</div>
              }
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-custom">Submit</button>
            <button
              type="button"
              class="btn btn-secondary btn-custom"
              (click)="resetLeaveRequest()"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Attendance Regularization Modal -->
  <div
    class="modal fade"
    id="attendanceRegularizationModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="attendanceRegularizationLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="attendanceRegularizationLabel">
            Attendance Regularization
          </h1>
          <button type="button" class="btn-close" (click)="cancelAttendanceForm()"></button>
        </div>
        <form
          [formGroup]="attendanceForm"
          id="attendanceForm"
          (ngSubmit)="submitAttendanceRegualrization()"
        >
          <div class="modal-body modal-body-custom">
            <!-- Employee Name -->
            <div class="mb-3">
              <label class="form-label required">Employee Name</label>
              <input
                type="text"
                class="form-control-plaintext"
                formControlName="employeeName"
                placeholder="Enter employee name"
                readonly
              />
            </div>
            <!-- reportingManagerEmpCode -->
            <div class="mb-3">
              <label class="form-label required">Reporting Manager Name</label>
              <input
                type="text"
                class="form-control-plaintext"
                formControlName="managerName"
                placeholder="Enter employee name"
                readonly
              />
            </div>

            <!-- Type (Day Based / Time Based) -->
            <div class="mb-3">
              <label class="form-label required">Type</label>
              <div class="btn-group w-100" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  id="dayBased"
                  formControlName="type"
                  value="1"
                />
                <label class="btn btn-outline-primary" for="dayBased">Day Based</label>

                <input
                  type="radio"
                  class="btn-check"
                  id="timeBased"
                  formControlName="type"
                  value="2"
                />
                <label class="btn btn-outline-primary" for="timeBased">Time Based</label>
              </div>
            </div>

            <!-- Start Date / End Date -->
            <div class="row mb-3">
              <div class="col">
                <label class="form-label required">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="startDate"
                  (change)="dateDifference()"
                />
              </div>
              <div class="col">
                <label class="form-label required">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="endDate"
                  (change)="dateDifference()"
                />
              </div>
            </div>

            <!-- Duration -->
            <div class="mb-3">
              <p
                class="bg-secondary-subtle d-flex align-items-center justify-content-center h-custom"
              >
                Duration
                {{ attendanceForm.get('duration')?.value }}
                day(s)
              </p>
            </div>

            <div *ngIf="isInvalidAttendanceReg('duration')" class="text-danger small">
              Duration cannot be negitive
            </div>

            <!-- Reason -->
            <div class="mb-3">
              <label class="form-label required">Reason</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="reason"
                maxlength="250"
                placeholder="Enter Reason"
              ></textarea>
            </div>
            <div class="char-count">
              {{ attendanceForm.get('reason')?.value?.length || 0 }} / 250
            </div>
            <div *ngIf="isInvalidAttendanceReg('reason')" class="text-danger small">
              Reason is required
            </div>
          </div>
          <!-- Footer Buttons -->
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-custom">Submit</button>
            <button
              type="button"
              class="btn btn-warning btn-custom"
              (click)="resetAttendanceForm()"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
