<div class="d-flex flex-column">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <!-- Legends -->
    <table class="ms-2">
      <tbody>
        <tr>
          <td style="width: 90px"><span class="dot bg-primary"></span> Leave</td>
          <td style="width: 120px"><span class="dot bg-warning"></span> Holidays</td>
          <td><span class="dot bg-danger"></span> Absent</td>
        </tr>
        <tr>
          <td><span class="dot bg-success"></span> Present</td>
          <td><span class="dot bg-secondary"></span> Weekly Off</td>
          <td><span class="dot bg-info"></span> Multiple Events</td>
        </tr>
      </tbody>
    </table>

    <!-- Show Time -->
    <div class="d-flex align-items-center">
      <span class="me-2">show time:</span>
      <input type="checkbox" class="form-check-input" />
    </div>

    <!-- Day Picker -->
    <div class="d-flex justify-content-center align-items-center daypicker-custom">
      <div class="btn-group shadow-sm rounded-pill overflow-hidden" role="group">
        <!-- Previous -->
        <button class="btn btn-light px-3" (click)="previousMonth()">&lt;</button>

        <!-- Month-Year -->
        <span class="btn bg-white fw-bold px-4" style="min-width: 160px">
          {{ viewDate | calendarDate : 'monthViewTitle' : 'en' }}
        </span>

        <!-- Next -->
        <button class="btn btn-light px-3" (click)="nextMonth()">&gt;</button>
      </div>

      <!-- Refresh -->
      <button class="btn btn-light rounded-circle shadow-sm ms-2">
        <i class="bi bi-arrow-repeat"></i>
      </button>
    </div>
  </div>

  <!-- CALENDAR -->
  <ng-template #customCellTemplate let-day="day">
    <div
      class="custom-day-cell"
      (contextmenu)="onRightClick($event, day)"
      [ngClass]="{ 'outside-month': !day.inMonth }"
    >
      <div class="cal-cell-top">
        {{ day.date | date : 'd' }}
      </div>
      <div class="event-dot-container">
        <span
          *ngFor="let event of day.events"
          class="event-dot"
          [ngStyle]="{ 'background-color': event.color?.primary }"
        ></span>
      </div>
    </div>
  </ng-template>
  <div class="calendar-container">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [cellTemplate]="customCellTemplate"
    >
    </mwl-calendar-month-view>
  </div>

  <!-- rightclick popup -->
  <div
    class="custom-context-menu context-style"
    *ngIf="showContextMenu"
    [ngStyle]="{ top: menuY + 'px', left: menuX + 'px' }"
    (click)="$event.stopPropagation()"
  >
    <div class="position-relative">
      <div class="text-center">{{ rightClickDay | date : 'fullDate' }}</div>
      <button
        (click)="showContextMenu = false"
        class="position-absolute end-0 top-0 btn-transparent"
      >
        X
      </button>
    </div>
    <div style="color: blue">Apply Leave or Regularization for above date?</div>
    <div>
      <div class="dropdown">
        <button class="btn dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
          -select-
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="showleaverequest()">Leave Request</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="showattendanceregularization()"
              >Attendance Regularization</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Leave Request Modal -->
  <div
    class="modal fade"
    id="leaverequestmodal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="loginmodalLabel">Leave Request</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="leaveRequestForm" id="leaveForm" (ngSubmit)="submitLeaveRequestForm()">
            <!-- Employee Name -->
            <div class="mb-3">
              <label class="form-label required">Employee Name</label>
              <input
                class="form-control-plaintext ps-1"
                formControlName="employeename"
                [readonly]="true"
              />
            </div>

            <!-- Leave Type -->
            <div class="mb-3">
              <label class="form-label required">Leave Type</label>
              <select class="form-select" formControlName="leavetype">
                <option value="" disabled>Select Leave Type</option>
                @for (type of leavetypes; track type.id) {
                <option [value]="type.id">{{ type.leaveTypeName }}</option>
                }
              </select>
            </div>

            <!-- Start Date and Day Period -->
            <div class="row mb-3">
              <div class="col">
                <label class="form-label required">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="startDate"
                  [min]="minDate"
                />
              </div>
              <div class="col">
                <label class="form-label required">Day Period</label>
                <select class="form-select" formControlName="dayPeriod">
                  <option value="" disabled>Select</option>
                  <option value="full">Full Day</option>
                  <option value="half">Half Day</option>
                </select>
              </div>
            </div>

            <!-- End Date -->
            <div class="mb-3">
              <label class="form-label required">End Date</label>
              <input type="date" class="form-control" formControlName="endDate" [min]="minDate" />
            </div>

            <!-- Phone Number -->
            <div class="mb-3">
              <label class="form-label">Phone Number</label>
              <input
                type="tel"
                class="form-control"
                formControlName="phone"
                placeholder="Optional"
              />
            </div>

            <!-- Employees to be notified -->
            <app-autocomplete formControlName="notify"></app-autocomplete>

            <!-- Reason -->
            <div class="mb-1">
              <label class="form-label required">Reason</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="reason"
                maxlength="250"
              ></textarea>
            </div>
            <div class="char-count">
              {{ leaveRequestForm.get('reason')?.value?.length || 0 }} / 250
            </div>

            <!-- Drag & Drop File Upload -->
            <div class="container my-4" style="max-width: 500px">
              <div class="mb-2 text-muted small">
                Recommended file upload size <strong>500kb</strong>.
              </div>

              <div
                class="drag-drop-box"
                (drop)="onDrop($event)"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (click)="!fileData && fileInput.click()"
              >
                >
                <ng-container *ngIf="!fileData">
                  Drop supporting document here or click to upload
                </ng-container>
                <input
                  type="file"
                  #fileInput
                  (change)="onFileSelected($event)"
                  accept=".pdf,.jpg,.jpeg"
                  hidden
                />
              </div>

              <!-- File info with cross -->
              <div class="file-info d-flex align-items-center mt-2" *ngIf="fileName">
                <span>{{ fileName }}</span>
                <button
                  type="button"
                  class="btn-remove ms-2"
                  aria-label="Remove"
                  (click)="RemoveFile()"
                >
                  X
                </button>
              </div>

              <!-- Validation message -->
              <div
                *ngIf="
                  leaveRequestForm.get('file')?.invalid && leaveRequestForm.get('file')?.touched
                "
                class="text-danger small"
              >
                File is required
              </div>
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-custom">Submit</button>

              <button type="button" class="btn btn-secondary btn-custom">Clear Data</button>

              <button type="button" class="btn btn-danger btn-custom" data-bs-dismiss="modal">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Attendance Regularization Modal -->
  <div
    class="modal fade"
    id="attendanceRegularizationModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="attendanceRegularizationLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 w-100 text-center" id="attendanceRegularizationLabel">
            Attendance Regularization
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form
            [formGroup]="attendanceForm"
            id="attendanceForm"
            (ngSubmit)="submitAttendanceRegualrization()"
          >
            <!-- Employee Name -->
            <div class="mb-3">
              <label class="form-label required">Employee Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="employeeName"
                placeholder="Enter employee name"
              />
            </div>

            <!-- Type (Day Based / Time Based) -->
            <div class="mb-3">
              <label class="form-label required">Type</label>
              <div class="btn-group w-100" role="group">
                <input
                  type="radio"
                  class="btn-check"
                  id="dayBased"
                  formControlName="type"
                  value="day"
                />
                <label class="btn btn-outline-primary" for="dayBased">Day Based</label>

                <input
                  type="radio"
                  class="btn-check"
                  id="timeBased"
                  formControlName="type"
                  value="time"
                />
                <label class="btn btn-outline-primary" for="timeBased">Time Based</label>
              </div>
            </div>

            <!-- Start Date / End Date -->
            <div class="row mb-3">
              <div class="col">
                <label class="form-label required">Start Date</label>
                <input type="date" class="form-control" formControlName="startDate" />
              </div>
              <div class="col">
                <label class="form-label required">End Date</label>
                <input type="date" class="form-control" formControlName="endDate" />
              </div>
            </div>

            <!-- Duration -->
            <div class="mb-3">
              <label class="form-label">Duration</label>
              <input
                type="text"
                class="form-control-plaintext ps-1"
                formControlName="duration"
                readonly
              />
            </div>

            <!-- Reason -->
            <div class="mb-3">
              <label class="form-label required">Reason</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="reason"
                maxlength="250"
              ></textarea>
            </div>
            <div class="char-count">
              {{ attendanceForm.get('reason')?.value?.length || 0 }} / 250
            </div>
          </form>

          <!-- Footer Buttons -->
          <div class="modal-footer d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-success btn-custom"
              (click)="submitAttendanceRegualrization()"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-warning btn-custom"
              (click)="clearAttendanceForm()"
            >
              Clear Data
            </button>
            <button type="button" class="btn btn-danger btn-custom" data-bs-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
