<div class="p-2">
  <div>
    <h4>Leaves Applied</h4>
  </div>
  <div class="card p-2">
    <table class="table-custom">
      <tr>
        <td>Name</td>
        <td>From</td>
        <td>To</td>
        <td>Day/Hr</td>
      </tr>
      <tr>
        <td>John</td>
        <td class="text-secondary">25</td>
        <td class="text-secondary">New York</td>
        <td class="text-secondary">Name</td>
        <td>Approved</td>
        <td><i class="bi bi-eye"></i></td>
        <td><i class="bi bi-pencil"></i></td>
      </tr>
      <tr>
        <td>Mary</td>
      </tr>
    </table>
  </div>
</div>
