@if(showlist) {
<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0">My Saved Jobs</h5>
    </div>

    <div class="card-body">
      <p-table
        [value]="jobApplications"
        [paginator]="true"
        [rows]="itemsPerPage"
        [rowsPerPageOptions]="[5, 10, 20]"
        [responsiveLayout]="'scroll'"
        [tableStyle]="{ 'min-width': '60rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="roleName">
              Job Title
              <p-sortIcon field="roleName"></p-sortIcon>
            </th>
            <th>Req ID</th>
            <th>Job Location</th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-job>
          <tr>
            <td>{{ job.roleName }}</td>
            <td>{{ job.jobId }}</td>
            <td>{{ job.locationName }}</td>
            <td>
              <a href="javascript:void(0)" (click)="showJobdetails(job.jobId)" class="job-title">
                View
              </a>
              |
              <a href="javascript:void(0)" (click)="showmodal(job.id)" class="job-title">
                Delete
              </a>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">Displaying 0 records</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary" (click)="findMoreJobs()">Find More Jobs</button>
      </div>
    </div>
  </div>
</div>
} @else {
<app-jobdescription [id]="JobId" [switchToJobList]="switchtolist.bind(this)"></app-jobdescription>
}

<div
  class="modal fade custom-high-zindex-modal"
  id="savejobmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Label">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Do you want to delete ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteSavedJob()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
