@if(showlist) {
<div class="container-fluid mt-4">
  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0">My Saved Jobs</h5>
    </div>

    <div class="card-body">
      <!-- <h6 class="mb-3">Jobs Applied</h6> -->

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-light">
            <tr>
              <th>Job Title ↑</th>
              <th>Req ID</th>
              <th>Job Location</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="jobApplications.length === 0">
              <td colspan="8" class="text-center">Displaying 0 records</td>
            </tr>
            <tr *ngFor="let job of jobApplications | slice : 0 : itemsPerPage">
              <td>{{ job.roleName }}</td>
              <td>{{ job.jobId }}</td>
              <td>{{ job.locationName }}</td>
              <td>
                <a href="javascript:void(0)" (click)="showJobdetails(job.jobId)" class="job-title">
                  view </a
                >|<a href="javascript:void(0)" (click)="showmodal(job.id)" class="job-title">
                  delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
          Items per page:
          <select class="form-select d-inline-block w-auto" (change)="onItemsPerPageChange($event)">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>

        <button class="btn btn-primary" (click)="findMoreJobs()">Find More Jobs</button>
      </div>
    </div>
  </div>
</div>
} @else {
<app-jobdescription [id]="JobId" [switchToJobList]="switchtolist.bind(this)"></app-jobdescription>
}

<div
  class="modal fade custom-high-zindex-modal"
  id="savejobmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Label">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Do you want to delete ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteSavedJob()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
