.modal-dialog-custom {
  max-width: 50vw !important;
  width: 50vw !important;
}

.custom-autocomplete {
  --p-autocomplete-invalid-placeholder-color: #334155;
  --p-autocomplete-invalid-border-color: #cbd5e1;
}

::ng-deep .custom-autocomplete .p-inputtext {
  width: 22vw;
  max-width: 100%;
}

.form-select-custom {
  width: 22vw;
}

::ng-deep .editor-custom .ql-editor {
  min-height: 200px;
  padding: 10px;
  // font-size: 14px;
}

.modal-body-custom label {
  margin-left: 7px;
  font-weight: 500;
}
