<div class="d-flex justify-content-between align-items-center p-2 collapse-custom">
  <h4 class="ms-3">Post Job</h4>
  <div class="d-flex gap-3">
    <button class="btn btn-success" (click)="this.NewJobmodal?.show()">
      <i class="bi bi-plus-circle"></i> Post Job
    </button>
    <button
      class="btn btn-secondary me-3"
      data-bs-toggle="collapse"
      data-bs-target="#CollapsePost"
      aria-expanded="true"
      aria-controls="CollapsePost"
    >
      &#8595;
    </button>
  </div>
</div>
<div id="CollapsePost" class="collapse collapse-content-custom">
  <div class="container mt-1">
    <!-- Header Section -->
    <div class="d-flex justify-content-start align-items-center gap-5 mb-2 header-custom">
      <!-- Left Section (Items per page) -->
      <div class="d-flex align-items-center gap-2">
        <label for="itemsPerPage" class="me-1 mb-0 small">Items per page:</label>
        <select
          id="itemsPerPage"
          class="form-select form-select-sm w-auto"
          [(ngModel)]="pagination.itemsPerPage"
          (change)="updateitemsPerPage()"
        >
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
        </select>
      </div>

      <!-- Center Section (Pagination) -->
      <nav aria-label="Page navigation" class="d-flex align-items-center">
        <ul class="pagination pagination-sm mb-0 compact-pagination">
          <li class="page-item" [class.disabled]="pagination.currentPage === 1">
            <a class="page-link" (click)="changePage(pagination.currentPage - 1)">Prev</a>
          </li>

          <li
            class="page-item"
            *ngFor="let page of getPageNumbers()"
            [class.active]="page === pagination.currentPage"
          >
            <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="pagination.currentPage === getTotalPages()">
            <a class="page-link" (click)="changePage(pagination.currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Job List -->
    <div id="jobList">
      @for (job of paginatedUserJobDetails;track $index) {
      <div class="row align-items-center job-card">
        <div class="col-md-9">
          <a href="javascript:void(0)" (click)="showJobDetails(job.id)" class="job-title">
            {{ job.roleName }}
          </a>
          <div class="job-meta">
            Requisition ID: {{ job.id }} - Posted on {{ job.createdDate }} -
            {{ job.locationName }}
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-end">
          <button class="btn btn-primary btn-sm me-2" (click)="EditJobDetials(job.id)">
            <i class="bi bi-pencil-square"></i>
          </button>

          <button class="btn btn-danger btn-sm me-5" (click)="ConfirmDeleteJobDetails(job.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
      }
    </div>
  </div>
</div>

<!------------------------------- New Job Form ----------------------------------->
<div
  class="modal fade"
  id="NewJobmodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-custom">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 w-100 text-center" id="NewJobmodalLabel">Job Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="NewJobForm">
        <div class="modal-body flex-grow-1 overflow-auto modal-body-custom">
          <div class="d-flex justify-content-between">
            <!-- RoleId -->
            <div class="form-group mb-3">
              <label for="roleId" class="form-label">Role</label>
              <select id="roleId" class="form-select form-select-custom" formControlName="RoleId">
                <option value="" disabled>Select Role</option>
                @if(Allroles.length !== 0){
                <option *ngFor="let role of Allroles" [value]="role.id">{{ role.roleName }}</option>
                }
              </select>
              <div *ngIf="isInvalid('RoleId')" class="text-danger small">Role is required</div>
            </div>

            <!-- ProjectId -->
            <div class="form-group mb-3">
              <label for="projectId" class="form-label">Project</label>
              <select
                id="projectId"
                class="form-select form-select-custom"
                formControlName="ProjectId"
              >
                <option value="" disabled>Select Project</option>
                @if(Allprojects.length !== 0){
                <option *ngFor="let project of Allprojects" [value]="project.id">
                  {{ project.projectName }}
                </option>
                }
              </select>
              <div *ngIf="isInvalid('ProjectId')" class="text-danger small">
                Project is required
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <!-- LocationId -->
            <div class="form-group mb-3">
              <label for="locationId" class="form-label">Location</label>
              <select
                id="locationId"
                class="form-select form-select-custom"
                formControlName="LocationId"
              >
                <option value="" disabled>Select Location</option>
                @if(Alllocations.length !== 0){
                <option *ngFor="let location of Alllocations" [value]="location.id">
                  {{ location.name }}
                </option>
                }
              </select>
              <div *ngIf="isInvalid('LocationId')" class="text-danger small">
                Location is required
              </div>
            </div>

            <!-- CompanyId -->
            <div class="form-group mb-3">
              <label for="companyId" class="form-label">Company</label>
              <select
                id="companyId"
                class="form-select form-select-custom"
                formControlName="CompanyId"
              >
                <option value="" disabled>Select Company</option>
                @if(AllComapnies.length !== 0){
                <option *ngFor="let company of AllComapnies" [value]="company.id">
                  {{ company.companyName }}
                </option>
                }
              </select>
              <div *ngIf="isInvalid('CompanyId')" class="text-danger small">
                Location is required
              </div>
            </div>
          </div>

          <!-- Skills Section -->
          <div class="mb-3">
            <label for="skills" class="form-label">Skills</label>
            <div class="d-flex gap-1">
              <div class="custom-autocomplete">
                <p-autoComplete
                  formControlName="Skillholder"
                  [suggestions]="skillsuggestions"
                  (completeMethod)="search($event)"
                  placeholder="Enter Skills"
                ></p-autoComplete>
              </div>

              <!-- Add button -->
              <button
                type="button"
                class="btn btn-success"
                (click)="addSkillFromHolder()"
                [disabled]="!NewJobForm.get('Skillholder')?.value"
              >
                <i class="bi bi-plus-circle"></i>
              </button>
            </div>

            <!-- Display added skills -->
            <ul class="list-group mt-3">
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let skill of skills.controls; let i = index"
              >
                {{ skill.value }}
                <button type="button" class="btn btn-sm btn-danger" (click)="removeSkill(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </li>
            </ul>

            <!-- Validation error -->
            <div
              *ngIf="skills.invalid && (skills.dirty || skills.touched)"
              class="text-danger small mt-2"
            >
              At least one skill is required.
            </div>
          </div>

          <!-- RoleDescription -->
          <div class="mb-3">
            <label for="roleDescription" class="form-label">Role Description</label>
            <quill-editor
              id="description"
              class="w-100 editor-custom"
              formControlName="RoleDescription"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              [placeholder]="'Enter Role description'"
            ></quill-editor>
            <div *ngIf="isInvalid('RoleDescription')" class="text-danger small">
              Role Description is required
            </div>
          </div>

          <!-- Responsibilities -->
          <div class="mb-3">
            <label for="responsibilities" class="form-label">Responsibilities</label>
            <quill-editor
              id="description"
              class="w-100 editor-custom"
              formControlName="Responsibilities"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              [placeholder]="'Enter Role description'"
            ></quill-editor>
            <div *ngIf="isInvalid('Responsibilities')" class="text-danger small">
              Responsibilities are required
            </div>
          </div>

          <!-- EducationQualification -->
          <div class="mb-3">
            <label for="educationQualification" class="form-label">Education Qualification</label>
            <quill-editor
              id="description"
              class="w-100 editor-custom"
              formControlName="EducationQualification"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              [placeholder]="'Enter Role description'"
            ></quill-editor>
            <div *ngIf="isInvalid('EducationQualification')" class="text-danger small">
              Education Qualification is required
            </div>
          </div>

          <!-- ExperienceRequired -->
          <div class="mb-3">
            <label for="experienceRequired" class="form-label">Experience Required</label>
            <quill-editor
              id="description"
              class="w-100 editor-custom"
              formControlName="ExperienceRequired"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              [placeholder]="'Enter Role description'"
            ></quill-editor>
            <div *ngIf="isInvalid('ExperienceRequired')" class="text-danger small">
              Experience Required is required
            </div>
          </div>

          <!-- DomainSkills -->
          <div class="mb-3">
            <label for="domainSkills" class="form-label">Domain Skills</label>
            <quill-editor
              id="description"
              class="w-100 editor-custom"
              formControlName="DomainSkills"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline'],
                  [{ list: 'ordered' }, { list: 'bullet' }]
                ]
              }"
              [placeholder]="'Enter Role description'"
            ></quill-editor>
            <div *ngIf="isInvalid('DomainSkills')" class="text-danger small">
              Domain Skills are required
            </div>
          </div>

          <div class="d-flex gap-3 justify-content-between requsition-custom mb-5">
            <!-- Requsition By -->
            <div class="mb-3">
              <label for="RequesitionName" class="form-label">Requsition By</label>
              <p-autoComplete
                id="RequesitionName"
                class="d-block RequesitionName-custom"
                formControlName="RequesitionBy"
                [suggestions]="usersuggestions"
                (completeMethod)="searchuser($event)"
                optionLabel="userName"
                placeholder="Enter UserName"
                [forceSelection]="true"
              ></p-autoComplete>
              <div *ngIf="isInvalid('RequesitionBy')" class="text-danger small">
                RequesitionName is required
              </div>
            </div>

            <div class="mb-3">
              <label for="startDate" class="form-label">Requsition Date</label>
              <input
                type="date"
                id="startDate"
                class="form-control"
                formControlName="RequesitionDate"
              />
              <div *ngIf="isInvalid('RequesitionDate')" class="text-danger small">
                RequesitionDate is required
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Footer Buttons -->
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
          <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!------------------------------- Delete confirmation ----------------------------------->
<div
  class="modal fade"
  id="deletejobdetails"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletejobdetailsLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Do you want to delete ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="DeleteJobDetails()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!------------------------------- Job Details ----------------------------------->
<div
  class="modal fade"
  id="showjobdetails"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showjobdetailsLabel">Delete Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Do you want to delete ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="DeleteJobDetails()">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
