@if(showlist) {
<div class="bg-light">
  <div class="mx-2 my-2">
    <div class="row g-2">
      <!-- Left Section: Job Search Form -->
      <div class="col-md-4 vh-custom">
        <div class="card p-4 h-100">
          <h4 class="mb-4">Search Job</h4>

          <form
            [formGroup]="jobSearchForm"
            (ngSubmit)="onSubmitfiltersearch()"
            class="d-flex flex-column gap-3"
          >
            <!-- Keyword -->
            <div>
              <label for="keyword" class="form-label">Keyword</label>
              <input
                type="text"
                class="form-control"
                id="keyword"
                placeholder="Job Title or Keywords"
                formControlName="keyword"
              />
            </div>

            <!-- Requisition ID -->
            <div>
              <label for="reqId" class="form-label">Requisition ID</label>
              <input
                type="text"
                class="form-control"
                id="reqId"
                placeholder="Req ID"
                formControlName="reqId"
              />
            </div>

            <!-- Job Location -->
            <div>
              <label for="location" class="form-label">Job Location</label>
              <div>
                <p-multiSelect
                  [options]="cities"
                  formControlName="location"
                  optionLabel="name"
                  placeholder="Select Cities"
                  [maxSelectedLabels]="3"
                  class="multiSelect-custom"
                >
                </p-multiSelect>
              </div>
            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-start gap-2 mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="jobSearchForm.invalid">
                Search
              </button>
              <button type="button" class="btn btn-secondary" (click)="onResetfiltersearch()">
                Clear
              </button>
            </div>
          </form>
          <div class="mt-3 d-flex gap-2">
            <select
              [(ngModel)]="selectedNameId"
              class="savesearchselect-custom form-select"
              placeholder="Select a save"
              (change)="applyselectedsave()"
            >
              <option value="" disabled selected class="selectrequest">Select a search</option>
              <option *ngFor="let save of savedsearchnames" [value]="save.id">
                {{ save.searchname }}
              </option>
            </select>
            <div class="savesearchbutton-custom">
              @if (showsavesearch === true) {
              <button
                type="button"
                class="btn btn-warning w-fill"
                (click)="this.savesearchnamemodal?.show()"
              >
                Save Search
              </button>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- Right Section: Post Job & Job Table -->
      <!-- ----------------------------------------------admin Jobs ---------------------------------------------- -->
      <div class="col-md-8">
        <div class="card p-4 vh-custom">
          <app-jobpost
            [showJobDetailsParent]="showJobdetails.bind(this)"
            [RefreshSearchJobs]="getJobDetails.bind(this)"
          ></app-jobpost>
          <!-- ----------------------------------------------All Jobs ---------------------------------------------- -->
          <div class="search-header mt-2 p-2">
            <h5>{{ AllUserJobDetilas.length }} jobs posted</h5>
          </div>
          <div class="searchbody-custom">
            <div class="container mt-1">
              <!-- Header Section -->
              <div class="d-flex justify-content-between align-items-center mb-2 header-custom">
                <!-- Left Section (Items per page) -->
                <div class="d-flex align-items-center gap-2">
                  <label for="itemsPerPage" class="me-1 mb-0 small">Items per page:</label>
                  <select
                    id="itemsPerPage"
                    class="form-select form-select-sm w-auto"
                    [(ngModel)]="pagination.itemsPerPage"
                    (change)="updateitemsPerPage()"
                  >
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                  </select>
                </div>

                <!-- Center Section (Pagination) -->
                <nav aria-label="Page navigation" class="d-flex align-items-center">
                  <ul class="pagination pagination-sm mb-0 compact-pagination">
                    <li class="page-item" [class.disabled]="pagination.currentPage === 1">
                      <a class="page-link" (click)="changePage(pagination.currentPage - 1)">Prev</a>
                    </li>

                    @for (page of getPageNumbers(); track $index) {
                    <li class="page-item" [class.active]="page === pagination.currentPage">
                      <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                    </li>
                    }

                    <li
                      class="page-item"
                      [class.disabled]="pagination.currentPage === getTotalPages()"
                    >
                      <a class="page-link" (click)="changePage(pagination.currentPage + 1)">Next</a>
                    </li>
                  </ul>
                </nav>

                <!-- Right Section (Sort by) -->
                <div class="d-flex align-items-center gap-1">
                  <span class="mb-0 small">Sort by:</span>
                  <select
                    class="form-select form-select-sm w-auto compact-select"
                    (change)="sortjobdetails($event)"
                  >
                    <option value="DP" default>Date Posted</option>
                    <option value="RL">Relevance</option>
                    <option value="JT">Job Title</option>
                    <option value="RQ">Requisition ID</option>
                    <option value="JL">Job Location</option>
                  </select>
                </div>
              </div>

              <!-- Job List -->
              <div id="jobList">
                @for (job of paginatedUserJobDetails;track $index) {
                <div class="row align-items-center job-card">
                  <div class="col-md-9">
                    <a href="javascript:void(0)" (click)="showJobdetails(job.id)" class="job-title">
                      {{ job.roleName }}
                    </a>
                    <div class="job-meta">
                      Requisition ID: {{ job.id }} - Posted on
                      {{ job.createdDate | date : 'dd/MM/yyyy' }} -
                      {{ job.locationName }}
                    </div>
                  </div>
                  <div class="col-md-3 text-end">
                    <select
                      class="form-select form-select-sm select-action"
                      (change)="actionchanged($event, job.id)"
                    >
                      <option value="" selected>Select Action</option>
                      <option value="apply">Apply</option>
                      <option value="save">Save Job</option>
                      <option value="email">Email Job to Friend</option>
                      <option value="refer">Refer Friend to Job</option>
                    </select>
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
} @else {
<app-jobdescription
  [id]="JobId"
  [switchToJobList]="switchtolist.bind(this)"
  [setjobid]="setjobidprop.bind(this)"
></app-jobdescription>
}

<div
  class="modal fade"
  id="savesearchnamemodal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Label">Save Search Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column gap-2">
          <label class="ms-2"> Search Name: </label>
          <input
            type="text"
            [(ngModel)]="searchName"
            class="form-control form-control-sm w-100 searchnameinput-custom"
            placeholder="Please enter a name"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="savesearch()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
