.card {
  padding: 0.6rem;
  border-radius: 0px;
  border: 1px solid #0a7ea4;
}
.form-floating > label {
  font-size: 0.9rem;
}
.btn-success {
  background-color: #28a745;
  border: none;
  width: 120px;
}
.btn-danger {
  background-color: #dc3545;
  border: none;
  width: 120px;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
textarea {
  resize: none;
}

.btn-filecancel {
  background-color: transparent;
  margin: 0;
  margin-left: 1%;
  padding: 0;
  border: 0;
  outline: none;
}
