<button class="btn btn-primary" (click)="SwitchToSearch()"><--</button>
<p>{{ SchedulerId }}</p>
<p-table
  [value]="userscheduleprofile"
  [responsiveLayout]="'scroll'"
  [scrollable]="true"
  scrollHeight="87vh"
  class="scheduler-table p-datatable-striped"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Date</th>
      <th *ngFor="let t of allTimeSlots">{{ t.label }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-profile>
    <tr>
      <td [ngClass]="{ 'bg-secondary': profile.info }" class="date-cell">
        {{ formatDate(profile.date) }}
      </td>

      <ng-container *ngIf="!profile.info; else infoRow">
        <td
          *ngFor="let t of timeSlots; let i = index"
          class="slot-cell"
          [ngClass]="[getColorClass(profile, i), isSelected(profile.date, i) ? 'selected' : '']"
          (mousedown)="onMouseDown(profile, i)"
          (mouseenter)="onMouseEnter(profile, i)"
          tooltipPosition="top"
        >
          <div class="cell-content">
            <!-- BOOKED -->
            <div *ngIf="getColorClass(profile, i) === 'scheduled'">
              <small>{{ getSubject(profile, i) }}</small>
            </div>

            <!-- AVAILABLE -->
            <div *ngIf="getColorClass(profile, i) === 'available'">
              <span class="available-text">Available</span>
            </div>

            <!-- UNAVAILABLE (NULL) -->
            <div *ngIf="getColorClass(profile, i) === 'unavailable'">
              <span class="unavailable-text">Unavailable</span>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-template #infoRow>
        <td [attr.colspan]="timeSlots.length" class="bg-secondary text-center">
          {{ profile.info }}
        </td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
